---
import Layout from "../components/Layout.astro"

import Hero from "../components/Hero/Hero.astro"
import Experience from "../components/Experience/Experience.astro"
import Projects from "../components/Projects/Projects.astro"
---

<Layout>
  <main>
    <Hero />
    <Experience />
    <Projects />
  </main>
</Layout>
