---
  const { lang } = Astro.props
  import ButtonLang from "./ButtonLang.astro"

  const navigation_en = { Experience: "Experience", Proyects: "Proyects", About: "About me" } 
  const navigation_es = { Experience: "Experiencia", Proyects: "Proyectos", About: "Sobre mí" } 

  const navigation = lang === "en" ? navigation_en : navigation_es
---

<header class="flex items-center h-10 backdrop-blur-2xl w-full">
  <nav class="flex justify-between w-full px-4">
    <p class="hidden md:block">@953.13</p>
    <ol class="flex">
      <a class="hover:bg-white/10 rounded-full px-3 transition py-1" href="#experience">{navigation.Experience}</a>
      <a class="hover:bg-white/10 rounded-full px-3 transition py-1" href="#projects">{navigation.Proyects}</a>
      <a class="hover:bg-white/10 rounded-full px-3 py-1 transition" href="#about">{navigation.About}</a>
      <ButtonLang lang={lang} />
    </ol>
  </nav>
</header>

<style>
  header {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 21, 0.15) !important;
    position: fixed;
    background-color: #00000015;
    z-index: 10;
    height: 60px;
  }
  nav {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

</style>
