---
import "@fontsource-variable/onest";

import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<html lang={Astro.props.lang}>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>👨‍💻</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mikael Fernandez's Portfolio</title>
  </head>
  <body>
    <div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-100 dark:bg-neutral-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
    <Header lang={Astro.props.lang} />
    <slot />
    <Footer lang={Astro.props.lang} />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    --font-family: "Onest Variable", sans-serif;
  }

  html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
    background-color: #0A0A0A;
  }

  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #1e1f20;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:hover {
    background: #de02406e;
  } 

  body {  
    background: radial-gradient(circle at 30% -20%, rgba(44, 191, 111, 0.13) 0%, rgba(44, 191, 111, 0) 30%), radial-gradient(circle at 100% 0%, rgba(255, 235, 168, 0.14) 0%, rgba(255, 235, 168, 0) 40%), radial-gradient(circle at 68% 3%, rgba(78, 75, 210, 0.07) 0%, rgba(78, 75, 210, 0) 40%), radial-gradient(circle at 84% 6%, rgba(238, 0, 0, 0.05) 0%, rgba(238, 0, 0, 0) 40%);
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>

<script>
  const pathname = "/portfolio/"
  const pathnameSpanish = "/portfolio/es"

  function isLanguageSpanish() {
    return navigator.language.toLowerCase().startsWith('es')
  }

  function isSpanishPathname() {
    return window.location.pathname.startsWith(pathnameSpanish)
  }

  function wasRedirect() {
    return window.localStorage.getItem("redirect") === null
  }

  function main() {
    if(!wasRedirect()) return

    window.localStorage.setItem("redirect", "true")

    if(!isLanguageSpanish() && isSpanishPathname())
      window.location.pathname = pathname
    

    if(isLanguageSpanish() && !isSpanishPathname())
      window.location.pathname = pathnameSpanish
  }

  main()

</script>